.section {
    padding-top: 64px;
    background-color: hsl(220 18% 20%);
    min-height: calc(100vh - 4rem - 224px);
}

.content {
    padding: 24px 16px 16px;
}

@media (min-width: 1024px) {
    .title {
        font-size: 2.25rem;
    }

    .productList {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }

    .cardInfo {
        padding: 32px;
    }

    .cardTitle {
        margin-bottom: 12px;
    }
}

@media (max-width: 1024px) {

    .title {
        font-size: 1.875rem;
    }

    .productList {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .cardInfo {
        padding: 16px;
    }

    .cardTitle {
        margin-bottom: 4px;
    }
}

@media (max-width : 768px) {
    .productList {
        grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
        grid-auto-flow: column;
        grid-auto-columns: minmax(320px,1fr);
        overflow-x: auto;
    }
}

@media (max-width : 480px) {
    .productList {
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        grid-auto-flow: column;
        grid-auto-columns: minmax(220px,1fr);
        overflow-x: auto;
    }
}

.productList {
    padding-bottom: 40px;
}

.sectionList {
    padding-top: 40px;
    padding-bottom: 56px;
    background-color: hsl(220 18% 20%);
}

.wrapper {
    padding: 20px 16px 48px;
    background: hsl(220 18% 20%);
}

.menuList {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: hsl(220 18% 20%);
    color: hsl(220 13% 69% / 1);
}

.homeText {
    display: flex;
    align-items: center;
    position: relative;
}

.homeText::after {
    content: "";
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 5px;
    margin: 0 8px;
    border-right: 1px solid hsl(220 13% 69% / 1);
    border-bottom: 1px solid hsl(220 13% 69% / 1);
    transform: translate((-50%, -50%));
    transform: rotate(-45deg);
}

.title {
    display: block;
    margin-bottom: 32px;
    font-weight: 700;
    text-align: center;
    color: hsl(220 13% 69% / 1);
}

.productList {
    display: grid;
    gap: 1.5rem;
}

.product {
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    text-decoration: none;
    color: hsl(220 13% 69% / 1);
    overflow: hidden;
    
}

.product > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: white;
}

.product > figure > img {
    max-width: 60%;
    max-height: 50%;
    transition-duration: 0.3s;
}

.product > figure:hover > .cardImage {
    max-height: 60%;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    background-color: rgb(55 65 81 / 1);
}

.cardTitle {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    overflow-y:scroll;
}

.cardPrice {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}